@value colors: '../../stylesheet/vars.module.css';
@value color_red,color_bg,color_shadow,color_white from colors;

.loadMoreBtn {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px color_white, 5px 5px 20px color_shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  margin: 0 auto;
}

.loadMoreBtn:hover {
  color: color_red;
  box-shadow: -2px -2px 5px color_white, 2px 2px 5px color_shadow;
}

.loadMoreBtn:active {
  box-shadow: inset 1px 1px 2px color_shadow, inset -1px -1px 2px color_white;
}
